<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
        <body>
            <h1>회원정보</h1>
            <p>이름: <span th:text="${member.name}">이름관련데이터</span></p>
            <p>생일: <span th:text="${member.birthData}">생일관련데이터</span></p>
            <p>이름: <span th:text="${smember.name}">이름관련데이터</span></p>
            <p>생일: <span th:text="${smember.birthData}">생일관련데이터</span></p>
        </body>
    </html>